@font-face {
    font-family: bit;
    src: url(../assets/fonts/8-BIT.TTF);
}
/*estilos generales*/
*{
    margin: 0;
    padding: 0;
    font-family: bit;
    text-decoration: none;
    color: black;
    overflow: hidden;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100vh; 
    width: 100vw;
    background-image: url("/assets/img/habitacion.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/*Aside y conetenedor de la pagina*/
.all_container{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

#player{
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2;
}

#player button{
    background-color: transparent;
    border:none;
    cursor: pointer;
}

#player_talk{
    height: 80%;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 3;
    justify-content: end;
    align-items: end;
    align-content: end;
    display: none;
}

#player_talk img{
    max-height: 50vh;
    max-width: 50vw;
}

/*Contenedor de texto */
#cont_text{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#espacio_text_inicial{
    display: none;
    height: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
    border: solid, 1px;
    border-radius: 5px;
    border-color: white;
}

#espacio_text_perfil{
    display: none;
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, .5);
    border: solid, 1px;
    border-radius: 5px;
    border-color: white;
}

#espacio_text_pryectos{
    display: none;
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, .5);
    border: solid, 1px;
    border-radius: 5px;
    border-color: white;
}

#espacio_text_habilidades{
    display: none;
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, .5);
    border: solid, 1px;
    border-radius: 5px;
    border-color: white;
}

#espacio_text_contacto{
    display: none;
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, .5);
    border: solid, 1px;
    border-radius: 5px;
    border-color: white;
}

/*contenedor info*/

#contenedor_info{
    display: flex;
    position: absolute;
    z-index: 4;
    height: 80%;
    align-items: end;
    display: none;
}

aside{
    background-color: rgba(255, 255, 255, .5);
    border: solid 1px;
    border-color: white;
    margin-bottom: 5px;
    border-radius: 5px;
}

aside ul li{
    margin-top: 5px;
}

/* modales*/

#modal_contacto {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modal_contacto ul div{ 
    margin-top: 20px;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

dialog ul div li{
    margin-left: 10px;
}

#modal_experiencia{
    background-color: white;
    border: 2px solid ;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 60vw;
    
}

#modal_experiencia .cont_experiencia{
    display: flex;
    flex-direction: row;
    border-top: 1px solid;
    margin-top: 5px;
}

#modal_experiencia .info_basica{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

#modal_experiencia .info_completa{
    display: flex;
    flex: 1;
    min-width: 50%;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20px;
}